*{

margin: 0;
padding: 0;


}

/*Fonty*/
h1,h2,h3,h4,h5,h6,a{

font-family:'Montserrat';


}

p{


  font-family: 'Roboto';

}


/*Navbar*/
nav{

  display: flex;
  background-color: #384b68;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 17px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
  font-size: 15px;
  z-index: 1000;
  height: 45px;
  

  }


  nav #logo{


  font-size: 27px;
 text-align: left;
  }
  nav img{


      max-height: 80px;
      max-width: 100%;
      object-fit: contain;
      border-radius: 10px;


  }
     
  nav ul{
  
  display: flex;
  flex-direction: row;
  padding: 10px 55px;
  list-style: none;
 
 
  }
  
  nav ul li{
  
  margin: 0 10px
  
  }
  
  nav a{
  
    
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  }

  nav a:hover{
  
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
  
  }    

.pr{

  display: flex;
  gap: 25px;


}

.sign_in{

border: 2px solid white;
padding: 10px 17px;
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
font-size: 17px;
}

.sign_in:hover{

background-color: rgb(255, 255, 255);
border: 2px solid white;
color: black;   


}

.get_started{
  border: 2px solid white;
  background-color: white;
  color: black;
  font-weight: 700;
  padding: 10px 17px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 17px;
}

.get_started:hover{

  border: 2px solid rgba(0, 0, 0, 0.705);
  background-color: rgb(98, 250, 98);
  color: black;
  transition: 0.5s all ease-in-out;
  
}

#hladat{
font-size: 20px;

}



#hladat:hover{

cursor: pointer;

}


.hamburger{

position: absolute;
right: 120px;
font-size: 25px;
display: none;

}



@media only screen and (max-width: 976px) {
  

  nav .pr{

  display: none;
  

  }


  nav #logo{


    font-size: 27px;
    position: absolute;
    left: 20px; 
    }
  nav{

padding: 30px 50px;
height: 45px;
  }
  nav ul {
    display: none;
   
   }

   nav #log{

   display: none;

   }
   nav img{

      position: absolute;  
      left: 20px;            
      top: 50%;           
      transform: translateY(-50%); 
      max-width: 100px;   

   }

   .hamburger{

  display: flex;
  cursor: pointer;

   }
   .hamburger:hover{

  opacity: 0.7;
  transition: 0.5s ease-in-out;

   }

 

 }


/*Sidebar*/


.sidebar .ds{

  
  margin-top: 30px;
  color: white;
  


}


.search-container {
  display: none; 
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#search-bar {
  display: none;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.search-container {
  transition: all 0.3s ease-in-out;
}

.sidebar_zarovnanie{

display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;

}


.sidebar {
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: #384b68;
    width: 55%;
    padding: 20px 25px;
    border: 1.5px solid white;
    flex-direction: column;
    box-sizing: border-box;
    transform: translateX(-100%); 
    opacity: 0; 
    height: 100vh;
  
  }
  
  
  .sidebar.visible {
    transform: translateX(0); 
    opacity: 1; 
    transition: transform 0.7s ease, opacity 0.7s ease;
  }
  
 
  .sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin-top: 55px;
  }
  
  .sidebar ul a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar img {
    max-height: 100px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    place-self: center;
  }

  .sidebar #logo{


   color: white;
   text-decoration: none;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px; 

  }

 .sidebar a:hover{

opacity: 0.7;
transition: 0.5s ease;

 }

.sidebar .ds{


  

    display: flex;
    gap: 15px;
    align-items: center;
  
  


}

.logo_a_zatvorenie{

justify-content: center;
align-items: center;
display: flex;



}

#zatvorit_sidebar{

 display: flex;
 font-size: 30px;
 color: white;
 justify-content: flex-end;
 align-items: flex-end;
 position: relative;
 margin-left: auto;
 cursor: pointer;

}

#zatvorit_sidebar:hover{

opacity: 0.7;
transition: 0.7s ease-in-out;

}

.sidebar .ds #shopping_cart, #log, #hladat{


 cursor: pointer;
 color: white;
}
.sidebar .ds #shopping_cart:hover, #log:hover, #hladat:hover{


  cursor: pointer;
  opacity: 0.7;
  transition: 0.7s ease-in-out;
 
 }
 

/*Footer*/

footer{

display: flex;
flex-direction: column;
background-color: #384b68;
color: white;
padding: 10px 15px;
position: relative;
margin-top: 100px;

}

.social_media_links{

display: flex;
gap: 15px;
align-items: flex-end;
justify-content: flex-end;
flex-direction: row;
justify-content: flex-end;
position: relative;
right: 15px

}

.bottom_footer{

display: flex;
width: 100%;
justify-content: space-between;

}


.social{

width: 40px;
height: 40px;
border-radius: 50%;


}

#facebook{

color: white;
background-color: blue;
cursor: pointer;
font-size: 20px;
border: 2px solid white;

}

#instagram{

    color: white;
    background-color: rgb(255, 0, 221);
    cursor: pointer;
    border: 2px solid white;
    font-size: 20px;
    
    }
#linkedin{

 color: white;
 background-color: rgb(0, 247, 255);
 cursor: pointer;
 border: 2px solid white;
 font-size: 20px;
        
}
#youtube{

color: white;
background-color: red;
cursor: pointer;
border: 2px solid white;
font-size: 20px;
            
}

#facebook:hover,#youtube:hover,#instagram:hover,#linkedin:hover{

opacity: 0.7;
transition: 0.5s ease-in-out;

    
}


.footer_rights{

font-size: 16px;
display: flex;
justify-content: flex-start;
align-items: flex-end;

}


@media only screen and (max-width: 700px) {
    footer{
      
    
    
 
 
     }

     .footer_rights {
        justify-content: center; 
        width: 100%; 
        text-align: center; 
        
    }


    .social_media_links{


      flex-wrap: wrap;
    }
    .bottom_footer{

        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
        }
        
   }
   @media only screen and (max-width: 238px) {   

    .bottom_footer{

        gap: 0px;
        
        }

       

   }





   /*Slideshow*/
.slideshow{
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 150px;
}

.slideshow img{

 width: 100%;
 height: 450px;
 object-fit: cover;
 
}



.prepnutie {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.prepnutie_fotiek{

display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
gap: 10px;
position: relative;
margin-bottom: 100px;
bottom: 40px

}

.active, .prepnutie:hover {
  background-color: orange;
}

.tmavy_rezim .active, .prepnutie:hover {
  background-color: rgb(197, 108, 0);
}




.fotky h1{

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(142, 204, 48);


}

.tmavy_rezim .fotky h1{

color: rgba(15, 200, 15, 0.738);


}


@media only screen and (max-width: 730px) {

.slideshow{

max-width: 100%;

}

}



/*Login*/

.forma_prihlasenie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.prihlasenie {
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;  
  gap: 15px;
  background-color: rgba(182, 182, 182, 0.767);
  width: 500px;
  height: 500px;  
  padding: 10px 25px;
  color: black;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
}


/*Aplikuje sa na label*/
.prihlasenie > label {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 10px;
}



#email, #heslo {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding: 2px 2px;
}

.prihlasenie h1{
text-align: center;
width: 100%;


}

.prihlasenie_sub {
  background-color: orange;
  color: black;
  padding: 10px 25px;
  border-radius: 7px;
  border: 2px solid black;
  cursor: pointer;
}

.prihlasenie_sub:hover {
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
}

.prihlasenie h1{

color: black;

}


.prihlasenie a{

color: green;
text-align: left;
text-decoration: none;

}

.prihlasenie a:hover{

opacity: 0.8;
text-decoration: underline;
transition: 0.3s all ease-in-out;

}


.check_login{

margin: 0;
align-self: flex-start;
margin-top: 2px;

}


@media screen and (max-width: 735px) {


.prihlasenie{


max-width: 85%;

}

}


/*Hlavná stránka*/


.za_1{

display: flex;
min-width: 85%;
max-width: 100%;
justify-content: center;
align-items: center;
flex-direction: column;
place-self: center;

}

/*Sekcia produkty*/

.produkty{


  display: flex;
  text-decoration: none;
  color: black;

}

.box {
  display: flex;
  flex-direction: column; 
  width: 200px;
  min-height: 350px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px;
  

}

.box h2{

color: black;

}


.obrazok img {
  width: 100%; 
  min-height: 300px; 
  max-height: 350px; 
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 25px;
  border-radius: 7px;
  transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out;
}

.obrazok img:hover{


transform: scale(1.1);
transition: 0.3 all ease-in-out;
filter: brightness(1.1);

}

.box .cena{


 margin-top: 30px;
 color: rgb(144, 18, 18);
 font-size: 19px;


}

.nadpis {
  
  margin: 15px 0 0px 0; 
  text-align: left; 
  font-size: 16px;
  color: black;
}

.nadpis a{

text-decoration: none;
color: black;

}
.nadpis a:hover{

text-decoration: underline;
opacity: 0.7;
transition: 0.3s all ease-in-out;

}

.popis{

padding: 15px; 
width: 100%; 
height: auto;
word-wrap: break-word;   
box-sizing: border-box; 
color: black;
line-height: 1.5;
font-size: 15px;
text-align: justify;

}



.skup{


display: flex;
justify-content: center;
align-items: center;
gap: 40px;
margin-top: 50px;
flex-wrap: wrap;

}


@media screen and (max-width: 870px) {

  .za_1{

place-self: center;

  }

.skup{




}

.box{

margin-top: 10px;
margin-bottom: 10px;
max-width: 100%;
height: auto;

}

.produkty{

justify-content: center;
align-items: center;
text-align: center;

}


}






/*Sekcia blog*/

  


.blog{


 
 margin-top: 170px;
 display: flex;
 text-decoration: none;
 color: black;
 text-decoration: none;

}


.box_pre_clanky {
  display: flex;
  flex-direction: column; 
  background-color: rgba(182, 182, 182, 0.767);
  width: 320px;
  min-height: 350px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.box_pre_clanky h2{

color: black;

}


.obrazok_v_clankoch img {
  width: 75%; 
  height: auto; 
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 7px;
  transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out;
}

.obrazok_v_clankoch img:hover{


transform: scale(1.1);
transition: 0.3 all ease-in-out;
filter: brightness(1.1);

}

.nadpis_clanky {
  
  margin: 15px 0 0px 0; 
  text-align: center; 
  font-size: 20px;
  color: black;
}

.nadpis_clanky a{

text-decoration: none;
color: black;

}
.nadpis_clanky a:hover{

text-decoration: underline;
opacity: 0.7;
transition: 0.3s all ease-in-out;

}

.popis_clanky {

padding: 15px; 
width: 100%; 
height: auto;
word-wrap: break-word;   
box-sizing: border-box; 
color: black;
line-height: 1.5;
font-size: 15px;
text-align: justify;

}



.skupina{


display: flex;
justify-content: center;
align-items: center;
gap: 40px;
margin-top: 50px;
flex-wrap: wrap;

}

@media screen and (max-width: 1120px) {

.blog{

justify-content: center;
align-items: center;

}


}
@media screen and (max-width: 870px) {


.skupina{




}

.box_pre_clanky{

margin-top: 10px;
margin-bottom: 10px;
max-width: 100%;
height: auto;

}

.blog{


justify-content: center;
align-items: center;

}

}






/*Registrácia*/

.forma_registracia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registracia {
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;  
  gap: 15px;
  background-color: rgba(182, 182, 182, 0.767);
  width: 500px;
  height: auto;  
  padding: 15px 35px;
  color: black;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
}


/*Aplikuje sa na label*/
.registracia > label {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 10px;
}



#em, #hes, #meno, #priezvisko,#zop_hes {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 2px 2px;
}

.registracia h1{
text-align: center;
width: 100%;


}

.registracia_sub {
  background-color: orange;
  color: black;
  padding: 10px 25px;
  border-radius: 7px;
  border: 2px solid black;
  cursor: pointer;
}

.registracia_sub:hover {
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
}

.registracia h1{

color: black;

}


.registracia a{

color: green;
text-align: left;
text-decoration: none;

}

.registracia a:hover{

opacity: 0.8;
text-decoration: underline;
transition: 0.3s all ease-in-out;

}


.check_reg{

margin: 0;
align-self: flex-start;
margin-top: 2px;

}


@media screen and (max-width: 735px) {


.registracia{


max-width: 85%;

}

}


/*Vyziva*/

.vyziva{

margin-top: 150px;




}

.p_vyziva {
  display: flex;
  text-align: justify;
  margin-top: 45px;
}

.z{

display: flex;
justify-content: center;
align-items: center;
max-width: 95%;

}


.box_vyziva {
  display: flex;
  flex-direction: column; 
  max-width: 180px;
  min-height: 350px;
  border-radius: 10px;
  border: 0.5px solid black;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px;


}

.box_vyziva h2{

color: black;

}


.obrazok_vyziva img {
  width: 100%; 
  min-height: 300px; 
  max-height: 350px; 
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 25px;
  border-radius: 7px;
  transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out;
}

.obrazok_vyziva img:hover{


transform: scale(1.1);
transition: 0.3 all ease-in-out;
filter: brightness(1.1);

}

.box_vyziva .cena_vyziva{


 margin-top: 30px;
 color: rgb(144, 18, 18);
 font-size: 19px;


}

.nadpis_vyziva {
  
  margin: 15px 0 0px 0; 
  text-align: left; 
  font-size: 16px;
  color: black;
}

.nadpis_vyziva a{

text-decoration: none;
color: black;

}
.nadpis_vyziva a:hover{

text-decoration: underline;
opacity: 0.7;
transition: 0.3s all ease-in-out;

}

.popis_vyziva{

padding: 15px; 
width: 100%; 
height: auto;
word-wrap: break-word;   
box-sizing: border-box; 
color: black;
line-height: 1.5;
font-size: 15px;
text-align: justify;

}



.vyziva_skupina{


display: flex;
gap: 30px;
width: 100%;
margin-top: 50px;
flex-wrap: wrap;

}


@media screen and (max-width: 408px) {

.filtre{

flex-direction: column;
justify-content: center;
align-items: center;


}


.p_vyziva{

place-self: center;

}

.box_vyziva{

min-width: 250px;


}

.vyziva{

text-align: center;


}

}


@media screen and (max-width: 976px) {

.zaobalenie{

align-items: center;
justify-content:center;


}



}

@media screen and (max-width: 873px) {


.vyziva_skupina{


justify-content: center;
align-items: center;
margin-top: 50px;

}

.box_vyziva{

margin-top: 10px;
margin-bottom: 10px;
min-width: 100px;
height: auto;

}




}

.filtre{


 display: flex;
 margin-top: 50px;
 gap: 25px;
}

.fil{



min-height: 55px;
border-radius: 4px;
border: 1px solid blue;
color: blue;
background-color: white;
font-size: 16px;
cursor: pointer;
justify-content: center;
align-items: center;
display: flex;
text-decoration: none;
width: 250px;

}

.fil:hover{

background-color: blue;
color: white;
transition: 0.7s ease-in-out;


}


.zaobalenie{

display: flex;
flex-direction: column;
max-width: 100%;
place-self: center;
justify-content: center;
}

.zao_2{


  display: flex;
  flex-direction: column;
  max-width: 85%;
  place-self: center;
  justify-content: center;

}






/*Oblečenie*/





/*Blog*/


.za_b{

  display: flex;
  min-width: 90%;
  max-width: 100%;
  padding: 10px 20px;
  flex-direction: column;
  place-self: center;





}


.zaobalenie_blog{

  display: flex;
  flex-direction: column;
  max-width: 100%;



}

.blog_b {
  display: flex;
  margin-top: 30px;
  flex-direction: column; 
  width: 300px;
  min-height: 350px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px;
  

}

.blog_b h2{

color: black;

}


.blog_obrazok img {
  width: 100%;  
  max-height: 170px; 
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 25px;
  border-radius: 7px;
  transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out;
}

.blog_obrazok img:hover{


transform: scale(1.1);
transition: 0.3 all ease-in-out;
filter: brightness(1.1);

}



.blog_nadpis {
  
  margin: 15px 0 0px 0; 
  text-align: left; 
  font-size: 16px;
  color: black;
}

.blog_nadpis a{

text-decoration: none;
color: black;

}
.blog_nadpis a:hover{

text-decoration: underline;
opacity: 0.7;
transition: 0.3s all ease-in-out;

}

.blog_popis{
margin-top: 10px;
width: 100%; 
height: auto;
word-wrap: break-word;   
box-sizing: border-box; 
color: black;
line-height: 1.5;
font-size: 15px;
text-align: justify;

}

.blog_skupina{

  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;


}

.nasledujuce_clanky_blog{

margin-top: 100px;
margin-bottom: 25px;


}




@media screen and (max-width: 870px) {

 



.box{

margin-top: 10px;
margin-bottom: 10px;
max-width: 100%;
height: auto;

}




}


.hlavny_clanok{

width: 100%;
margin-top: 150px;
display: flex;
flex-direction: column;
place-self: center;

}

.blog_hlavny_clanok p{

  
  width: 100%; 
  height: auto;
  word-wrap: break-word;   
  box-sizing: border-box; 
  color: black;
  line-height: 1.5;
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  
  }
  

.blog_hlavny_clanok{

  place-self: center;
  display: flex;
  flex-direction: column; 
  width: 80%;
  min-height: 450px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px;

}


.blog_hlavny_clanok h1{


  margin-top: 10px;
}

.blog_hlavny_clanok img {
  width: 771px;  
  max-height: 433px; 
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 25px;
  border-radius: 7px;
  transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out;
}

.blog_hlavny_clanok img:hover{


transform: scale(1.1);
transition: 0.3 all ease-in-out;
filter: brightness(1.1);

}
