*{

 margin: 0;
 padding: 0;

}

h1,h2,h3,h4,h5,h6,a{

    font-family:'Montserrat';
    
    
    }
    
    p{
    
    
      font-family: 'Roboto';
    
    }




/* Sidebar */
.sidebar {
  min-width: 20%;
  max-width: 25%;
  height: 100vh;
  background-color: #2F3C7E; 
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2); 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  padding-top: 20px;
  z-index: 1000;
  transition: width 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  padding: 15px;
  font-size: 17px;
  border-radius: 5px;
  width: 80%; 
  margin: 5px 0; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  width: 80%; 
}

.sidebar ul li:hover {
  opacity: 0.8;
  background-color: #1F2A5B; 
}

.zarovnanie_sidebaru {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  height: 100vh;
}


.uzivatel img{

  width: 50px; 
  height: 50px; 
  object-fit: cover; 
  border-radius: 50%;


}


.sidebar .uzivatel{

   
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 15px;
  gap: 15px;


}

.uzivatel h3{

 color: white;
 margin-top: 10px;
}
